*, html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#wordstore {
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  max-width: 400px;
  min-height: 405px;
  max-height: 405px;
  font-family: Arial, Helvetica, sans-serif;

  overflow: hidden;
}

#popup-header {
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-height: 32px;
  margin: 10px 0;
}

#popup-header__h1 {
  font-size: 1.6em;
  margin-right: 10px;
}

#popup-header__img {

  height: 32px;
  width: 32px;
}

.hr {
  width: 90%;
  margin-bottom: 10px;
}

.flex {
  display: flex;
}

.center {
  width: 90%;
  align-self: center;
}

.text-center {
  text-align: center;
}

.pagination {
  justify-content: center;
  text-align: center;
}

.pagination__button {
  width: 25px;
  cursor: pointer;
  margin: 0 5px;
}

.pagination__page {
  width: 50px;
}

#add, .remove, #popup-search__select {
  width: 90px;
}

.word, #word__new, #popup-search__input {
  width: 70%;
}

#popup-search {
  justify-content: space-between;
  margin-bottom: 15px;
}

#popup-body {
  flex-direction: column;
  margin-bottom: 15px;
  overflow: hidden;
}

.word-row {
  justify-content: space-between;
  margin-bottom: 3px;
}

.word {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#popup-footer {
  justify-content: space-between;
  margin-bottom: 10px;
}
